body {
    font-family: Palatino,"Palatino Linotype","Book Antiqua",Georgia,"Times New Roman",serif;
    word-spacing: .1em;
    line-height: 1.5em;
}

#content {
    margin: 0px auto;
    width: 920px;
    padding-top: 50px;
    padding-bottom: 50px;
}

a img {
    border:medium none;
}
img.noborder {
    border:medium none !important;
}

.aligncenter {
    display:block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}
.alignright {
    display:block;
    float:right;
    margin:0 0 4px 8px;
}
.alignleft {
    display:block;
    float:left;
    margin:0 8px 4px 0;
}

.blog_post img {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color:#F3F3F3;
    border:2px solid #DDDDDD;
    padding:3px;
    text-align:center;
}

.blog_post a:hover img {
    background-color:#317DDA;
    background-color:#F3F3F3;
    border:2px solid #8b008b;
}

div.pygments_pastie {
    border-left: 10px solid #ccc;
    padding-left: 5px;
}

/* If regular pygments code table, pad 20 to the left */
div.pygments_pastie {
    margin-left: 20px;
}

/* Fix extra padding on empty lines in code tag */
.pygments_pastie p {
	margin: 0;
}

/* If numerated pygments code table, pad 20 to the left, but pull the text back
 * to look right */
.pygments_pastietable {
    margin-left: 20px;
}
.pygments_pastietable tbody tr td .pygments_pastie{
    margin-left: 5px;
}

h1 a, h1 a:visited {
	color: #cd1076;
	text-decoration: none;
}

h2 a, h2 a:visited {
	color: #333333;
	text-decoration: none;
}

h1 a:hover, h2 a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

hr {
	margin-top: 40px;
	margin-bottom: 40px;
	color: #CCCCCC;
}

.blog_post_title {
	font-size: 28px;
	margin-bottom: 0px;
}
.blog_post_title a, .blog_post_title a:visited {
	color: ##D93315;
	font-variant: small-caps;
	text-decoration: none;
}
.blog_post_title a:hover {
	text-decoration: underline;
}
